<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis imagenes</ion-title>
    <ion-buttons slot="end">   
        <ion-icon name="log-out-outline" (click)="onClick()" class="logout"></ion-icon>       
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
<div  class="display_images">
  <ion-card *ngFor="let image of myPicts">
    <img [src]="image.src.large" alt="Photo by mis fotos"  (click)="openImageModal(image.src.large, image.photographer)"> 
    <ion-icon [name]="isFavorite(image) ? 'heart' : 'heart-outline'" 
          [class]="isFavorite(image) ? 'corazonRojo' : 'corazonLinea'"
          (click)="onCorazon(image)">
      </ion-icon>   
    <ion-card-header >
      <ion-card-title>
        Ph.: mis fotos 📸
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<ion-fab vertical="bottom" horizontal="end" class="btn-add">
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="camera-outline" (click)="tomarFoto()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="image-outline"(click)="subirImagen()"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>