<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Login 🔐</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email"></ion-input>

</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<ion-row class="ion-justify-content-center">
<ion-button  class="ion-margin-top"  color="primary" size="large" shape="round">Ingresar</ion-button>
</ion-row>
</ion-content>
