/* Estilos generales para los botones y las filas */

ion-button, ion-row {
    margin-top: 10px; /* Margen superior común para todos los botones y filas */
}

/* Estilo específico para el primer botón "Ingresar"  */
#primer-boton {
    margin-top: 50px !important; /* Margen superior mayor para el primer botón */
}

.custom-icon {
    position: relative;
    top: 40%;
}

.labelsize {
    font-size: 1.4em;
}

.loginfontsize {
    font-size: 1.6em;
}








