<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Boton de la pestaña "Home" -->
   <ion-tab-button tab="home">
     <ion-icon name="home"></ion-icon>
     <ion-label>Home</ion-label>
   </ion-tab-button>
    <!-- Boton de la pestaña "Favoritos" -->
   <ion-tab-button tab="favoritos">
     <ion-icon name="heart"></ion-icon>
     <ion-label>Favoritos</ion-label>
   </ion-tab-button>
    <!-- Boton de la pestaña "Mis Imagenes" -->
   <ion-tab-button tab="mis-imagenes">
     <ion-icon name="image"></ion-icon>
     <ion-label>Mis Imágenes</ion-label>
   </ion-tab-button>

 </ion-tab-bar>
</ion-tabs>
