<ion-header [translucent]="true">  <!-- Encabezado con nombre de la app -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- al comienzo va a poner la foto de la app -->
      <img src="assets/icon/fotofondo.jpg" class="app-photo" alt="Foto de la aplicación">
    </ion-buttons>
    <ion-title class="toolbar-title"><img src="assets/icon/camwall.jpg" class="camwall" alt="nombre de la app"></ion-title>
    <ion-icon routerLink="/login" name="chevron-back-outline" class="back" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>   <!--Formulario de reseteo de contraseña -->
  <div class="formulario">
    <ion-text>Restaurar contraseña</ion-text>
    <ion-item>
      <ion-label class="labelsize" position="floating">Correo</ion-label>
      <ion-input type="email"  [(ngModel)]="email"> </ion-input>
       <!-- Utiliza ngModel para vincular el valor del input a la variable 'email' en el componente. -->
      <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <p>Ingresa tu mail para restaurar tu contraseña</p>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button (click)="onReset()" class="buttons">Enviar</ion-button>
       <!-- Llama a la funcion On reset en el archivo .ts del componente. -->
    </ion-row>
  </div>
</ion-content>

