<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi app de fondos</ion-title> 
    <ion-buttons slot="end">   
        <ion-icon name="log-out-outline" (click)="onClick()" class="logout"></ion-icon>       
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchText" (ionChange)="onSearchChange($event, this.searchText)" placeholder="Busca tu fondo..."></ion-searchbar>  
  <div *ngIf="GlobalService.loading" class="spinner_container">
    <ion-spinner  name="lines-sharp" class="ion-margin"color="primary" size="large"></ion-spinner>
  </div>

  <div  class="display_images">
    <ion-card *ngFor="let image of GlobalService.images">
      <img [src]="image.src.large" alt="Photo by {{image.photographer}}" (click)="openImageModal(image.src.large, image.photographer)" >
      <ion-icon [name]="isFavorite(image) ? 'heart' : 'heart-outline'" 
          [class]="isFavorite(image) ? 'corazonRojo' : 'corazonLinea'"
          (click)="onCorazon(image)">
      </ion-icon>
      <ion-card-header >
        <ion-card-title>
          Ph.: {{image.photographer}}📸
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  
  <ion-button  expand="block" (click)="loadMore()" *ngIf="!search && GlobalService.images.length > 0" >
    Cargar más
  </ion-button>

</ion-content>

